#container {
    margin: 20px;
}

/* Before content */
#container::before {
    content: "<<< ";
    color: #f00;
    font-size: 20px;
}

/* After content */
#container::after {
    content: " >>>";
    color: #f00;
    font-size: 20px;
}